@import url("https://fonts.googleapis.com/css?family=Exo+2:300");
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

body {
  overflow-x: hidden;
  overflow-y: hidden; }

::-webkit-input-placeholder {
  color: white; }

:-ms-input-placeholder {
  color: white; }

::-ms-input-placeholder {
  color: white; }

::placeholder {
  color: white; }

::-moz-selection {
  color: #2a2a2a;
  background: #00FF88; }

::selection {
  color: #2a2a2a;
  background: #00FF88; }

::-webkit-scrollbar {
  width: 10px;
  background: tranparent; }

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border: 5px solid transparent; }
  ::-webkit-scrollbar-thumb:hover {
    background: #474747; }

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  .bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #2a2a2a;
    opacity: .6; }

.topbar {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background: #2a2a2a; }
  .topbar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%; }
    .topbar ul li {
      position: relative;
      float: left;
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      height: 100%;
      list-style: none;
      margin: 0 10px 0 10px;
      cursor: pointer; }
      .topbar ul li:hover i {
        color: #00FF88 !important; }
      .topbar ul li i {
        cursor: pointer;
        line-height: 60px;
        font-size: 24px;
        color: white; }
    .topbar ul .selectedWeek {
      line-height: 50px;
      text-align: center;
      cursor: default;
      font-family: "Exo 2";
      font-size: 22px;
      font-weight: 300;
      color: #00FF88; }
  .topbar .exitBTN {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    text-align: center; }
    .topbar .exitBTN:hover i {
      color: #FF3243; }
    .topbar .exitBTN i {
      cursor: pointer;
      line-height: 60px;
      font-size: 22px;
      color: white; }
  .topbar .minimizeBTN {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 50px;
    width: 50px;
    height: 100%; }
    .topbar .minimizeBTN:hover i {
      color: #00FF88; }
    .topbar .minimizeBTN i {
      cursor: pointer;
      line-height: 60px;
      font-size: 26px;
      color: white; }
  .topbar #weeks {
    position: absolute;
    top: 100px;
    left: -10px;
    width: 14.28vw;
    height: auto;
    cursor: pointer;
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 300;
    color: white;
    z-index: 100;
    display: none; }
    .topbar #weeks li {
      list-style: none;
      text-align: center;
      line-height: 40px;
      width: 100%;
      height: 40px;
      background: #2a2a2a;
      cursor: pointer; }
      .topbar #weeks li:hover {
        color: #00FF88; }

.daysBar {
  z-index: 90;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw;
  height: 50px;
  background: #2a2a2a; }
  .daysBar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .daysBar ul li {
      position: relative;
      float: left;
      width: 14.28%;
      height: 100%;
      list-style: none;
      text-align: center;
      line-height: 50px;
      text-transform: uppercase;
      font-family: "Exo 2";
      font-size: 22px;
      font-weight: 300;
      color: white; }

.container {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 120px);
  padding-top: 20px; }
  .container .innerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
    padding-top: 20px;
    overflow-y: auto; }
    .container .innerContainer .week {
      position: absolute;
      left: 0;
      width: 100%; }
      .container .innerContainer .week .day {
        position: relative;
        float: left;
        width: 14.28%;
        height: auto; }
        .container .innerContainer .week .day .lesson {
          position: relative;
          width: 80%;
          height: 100px;
          margin: 0 auto 30px; }
          .container .innerContainer .week .day .lesson .sideColor {
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 100%;
            background: #00FF88; }
          .container .innerContainer .week .day .lesson #className {
            position: absolute;
            top: 0;
            left: 20px;
            font-family: "Exo 2";
            font-size: 20px;
            font-weight: 300;
            color: white; }
          .container .innerContainer .week .day .lesson #classRoom {
            position: absolute;
            bottom: 0;
            left: 20px;
            font-family: "Exo 2";
            font-size: 18px;
            font-weight: 300;
            color: white; }
          .container .innerContainer .week .day .lesson #teacherName {
            position: absolute;
            bottom: 25px;
            left: 20px;
            font-family: "Exo 2";
            font-size: 18px;
            font-weight: 300;
            color: white; }
          .container .innerContainer .week .day .lesson #time {
            position: absolute;
            bottom: 0;
            right: 0;
            font-family: "Exo 2";
            font-size: 18px;
            font-weight: 300;
            color: white; }
          .container .innerContainer .week .day .lesson .deleteItem {
            display: none;
            position: absolute;
            bottom: 20px;
            right: 0;
            font-size: 22px;
            color: white;
            cursor: pointer; }
            .container .innerContainer .week .day .lesson .deleteItem:hover {
              color: #00FF88; }
          .container .innerContainer .week .day .lesson .editItem {
            display: none;
            position: absolute;
            bottom: 20px;
            right: 30px;
            font-size: 22px;
            color: white;
            cursor: pointer; }
            .container .innerContainer .week .day .lesson .editItem:hover {
              color: #00FF88; }

.addLessonOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(42, 42, 42, 0.9);
  z-index: 9999;
  display: none;
  opacity: 0; }
  .addLessonOverlay .innerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 530px;
    height: 500px; }
    .addLessonOverlay .innerBox #exitOverlay {
      font-size: 24px;
      color: white;
      position: absolute;
      top: -60px;
      right: -60px;
      cursor: pointer; }
      .addLessonOverlay .innerBox #exitOverlay:hover {
        color: #00FF88; }
    .addLessonOverlay .innerBox h1 {
      position: absolute;
      top: -60px;
      left: 20px;
      font-family: "Exo 2";
      font-size: 25px;
      font-weight: 300;
      color: white; }
    .addLessonOverlay .innerBox input[type="text"] {
      width: 190px;
      height: 40px;
      background: transparent;
      border: 1px solid white;
      outline: none;
      position: absolute;
      font-family: "Exo 2";
      font-size: 16px;
      font-weight: 300;
      color: white;
      padding-left: 15px;
      padding-right: 15px;
      cursor: text; }
      .addLessonOverlay .innerBox input[type="text"]:focus {
        border-color: #00FF88 !important; }
    .addLessonOverlay .innerBox select {
      width: 220px;
      height: 40px;
      background: #2a2a2a;
      border: 1px solid white;
      outline: none;
      color: white;
      font-family: 'Exo 2';
      font-size: 16px;
      cursor: pointer; }
      .addLessonOverlay .innerBox select:focus {
        border-color: #00FF88 !important; }
    .addLessonOverlay .innerBox .startTime {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 220px;
      height: 40px; }
      .addLessonOverlay .innerBox .startTime p {
        line-height: 40px;
        color: white;
        font-family: 'Exo 2';
        font-size: 16px; }
      .addLessonOverlay .innerBox .startTime #start_time_h {
        position: absolute;
        top: 0;
        right: 70px;
        width: 60px; }
      .addLessonOverlay .innerBox .startTime #start_time_mm {
        position: absolute;
        top: 0;
        right: 0px;
        width: 60px; }
    .addLessonOverlay .innerBox .finishTime {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 220px;
      height: 40px; }
      .addLessonOverlay .innerBox .finishTime p {
        line-height: 40px;
        color: white;
        font-family: 'Exo 2';
        font-size: 16px; }
      .addLessonOverlay .innerBox .finishTime #finish_time_h {
        position: absolute;
        top: 0;
        right: 70px;
        width: 60px; }
      .addLessonOverlay .innerBox .finishTime #finish_time_mm {
        position: absolute;
        top: 0;
        right: 0px;
        width: 60px; }
    .addLessonOverlay .innerBox #lesson_name {
      top: 80px;
      left: 20px; }
    .addLessonOverlay .innerBox #teacher_name {
      top: 80px;
      right: 20px; }
    .addLessonOverlay .innerBox #class_room {
      top: 140px;
      left: 20px; }
    .addLessonOverlay .innerBox #week {
      top: 140px;
      right: 20px; }
    .addLessonOverlay .innerBox #day {
      position: absolute;
      top: 200px;
      left: 20px; }
    .addLessonOverlay .innerBox #bgColor {
      top: 200px;
      right: 20px; }
    .addLessonOverlay .innerBox .addNewLesson {
      position: absolute;
      top: 400px;
      right: 20px;
      background: transparent;
      width: 220px;
      height: 40px;
      border: none;
      outline: none;
      cursor: pointer;
      font-family: 'Exo 2';
      font-size: 18px;
      color: #00FF88;
      border: 1px solid #00FF88; }
      .addLessonOverlay .innerBox .addNewLesson:hover {
        background: #00FF88;
        color: #2a2a2a; }
      .addLessonOverlay .innerBox .addNewLesson:focus {
        background: #00FF88;
        color: #2a2a2a; }

.editLessonOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(42, 42, 42, 0.9);
  z-index: 9999;
  display: none;
  opacity: 0; }
  .editLessonOverlay .innerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 530px;
    height: 500px; }
    .editLessonOverlay .innerBox #exitOverlay {
      font-size: 24px;
      color: white;
      position: absolute;
      top: -60px;
      right: -60px;
      cursor: pointer; }
      .editLessonOverlay .innerBox #exitOverlay:hover {
        color: #00FF88; }
    .editLessonOverlay .innerBox h1 {
      position: absolute;
      top: -60px;
      left: 20px;
      font-family: "Exo 2";
      font-size: 25px;
      font-weight: 300;
      color: white; }
    .editLessonOverlay .innerBox input[type="text"] {
      width: 190px;
      height: 40px;
      background: transparent;
      border: 1px solid white;
      outline: none;
      position: absolute;
      font-family: "Exo 2";
      font-size: 16px;
      font-weight: 300;
      color: white;
      padding-left: 15px;
      padding-right: 15px;
      cursor: text; }
      .editLessonOverlay .innerBox input[type="text"]:focus {
        border-color: #00FF88; }
    .editLessonOverlay .innerBox select {
      width: 220px;
      height: 40px;
      background: #2a2a2a;
      border: 1px solid white;
      outline: none;
      color: white;
      font-family: 'Exo 2';
      font-size: 16px;
      cursor: pointer; }
      .editLessonOverlay .innerBox select:focus {
        border-color: #00FF88; }
    .editLessonOverlay .innerBox .startTime {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 220px;
      height: 40px; }
      .editLessonOverlay .innerBox .startTime p {
        line-height: 40px;
        color: white;
        font-family: 'Exo 2';
        font-size: 16px; }
      .editLessonOverlay .innerBox .startTime #start_time_h {
        position: absolute;
        top: 0;
        right: 70px;
        width: 60px; }
      .editLessonOverlay .innerBox .startTime #start_time_mm {
        position: absolute;
        top: 0;
        right: 0px;
        width: 60px; }
    .editLessonOverlay .innerBox .finishTime {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 220px;
      height: 40px; }
      .editLessonOverlay .innerBox .finishTime p {
        line-height: 40px;
        color: white;
        font-family: 'Exo 2';
        font-size: 16px; }
      .editLessonOverlay .innerBox .finishTime #finish_time_h {
        position: absolute;
        top: 0;
        right: 70px;
        width: 60px; }
      .editLessonOverlay .innerBox .finishTime #finish_time_mm {
        position: absolute;
        top: 0;
        right: 0px;
        width: 60px; }
    .editLessonOverlay .innerBox #lesson_name {
      top: 80px;
      left: 20px; }
    .editLessonOverlay .innerBox #teacher_name {
      top: 80px;
      right: 20px; }
    .editLessonOverlay .innerBox #class_room {
      top: 140px;
      left: 20px; }
    .editLessonOverlay .innerBox #week {
      top: 140px;
      right: 20px; }
    .editLessonOverlay .innerBox #bgColor {
      top: 200px;
      left: 20px; }
    .editLessonOverlay .innerBox .editLesson {
      position: absolute;
      top: 400px;
      right: 20px;
      background: transparent;
      width: 220px;
      height: 40px;
      border: none;
      outline: none;
      cursor: pointer;
      font-family: 'Exo 2';
      font-size: 18px;
      color: #00FF88;
      border: 1px solid #00FF88; }
      .editLessonOverlay .innerBox .editLesson:hover {
        background: #00FF88;
        color: #2a2a2a; }
      .editLessonOverlay .innerBox .editLesson:focus {
        background: #00FF88;
        color: #2a2a2a; }

.setBGOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(42, 42, 42, 0.9);
  z-index: 9999;
  display: none;
  opacity: 0; }
  .setBGOverlay .innerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 530px;
    height: 500px; }
    .setBGOverlay .innerBox #exitOverlay {
      font-size: 24px;
      color: white;
      position: absolute;
      top: -60px;
      right: -60px;
      cursor: pointer; }
      .setBGOverlay .innerBox #exitOverlay:hover {
        color: #00FF88; }
    .setBGOverlay .innerBox h1 {
      position: absolute;
      top: -60px;
      left: 20px;
      font-family: "Exo 2";
      font-size: 25px;
      font-weight: 300;
      color: white; }
    .setBGOverlay .innerBox .chooseBG {
      position: absolute;
      top: 0;
      left: 20px;
      border: 1px solid white;
      width: 490px;
      height: 50px;
      cursor: pointer; }
      .setBGOverlay .innerBox .chooseBG:hover {
        border-color: #00FF88; }
        .setBGOverlay .innerBox .chooseBG:hover h1 {
          color: #00FF88; }
      .setBGOverlay .innerBox .chooseBG input {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 99; }
      .setBGOverlay .innerBox .chooseBG h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: "Exo 2";
        font-size: 20px;
        font-weight: 300;
        color: white; }
    .setBGOverlay .innerBox .addBG {
      position: absolute;
      top: 400px;
      right: 20px;
      background: transparent;
      width: 220px;
      height: 40px;
      border: none;
      outline: none;
      cursor: pointer;
      font-family: 'Exo 2';
      font-size: 18px;
      color: #00FF88;
      border: 1px solid #00FF88; }
      .setBGOverlay .innerBox .addBG:hover {
        background: #00FF88;
        color: #2a2a2a; }
    .setBGOverlay .innerBox .bgChanger {
      position: absolute;
      top: 80px;
      left: 20px;
      width: 490px;
      height: 50px; }
      .setBGOverlay .innerBox .bgChanger #bgSec {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 70px;
        height: 50px;
        border: 1px solid white;
        background: transparent;
        outline: none;
        text-align: center;
        font-family: "Exo 2";
        font-size: 16px;
        font-weight: 300;
        color: white; }
        .setBGOverlay .innerBox .bgChanger #bgSec:focus {
          border-color: #00FF88; }
      .setBGOverlay .innerBox .bgChanger h1 {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: "Exo 2";
        font-size: 20px;
        font-weight: 300;
        color: white; }
    .setBGOverlay .innerBox .helpText {
      position: absolute;
      top: 150px;
      left: 20px;
      width: 490px;
      height: 80px; }
      .setBGOverlay .innerBox .helpText span {
        color: #00FF88; }
      .setBGOverlay .innerBox .helpText h1 {
        position: absolute;
        top: 0;
        left: 0;
        font-family: "Exo 2";
        font-size: 15px;
        font-weight: 300;
        color: white; }
    .setBGOverlay .innerBox .staticColor {
      position: absolute;
      top: 250px;
      left: 20px;
      width: 490px;
      height: 50px;
      border: 1px solid white;
      background: transparent;
      outline: none;
      font-family: "Exo 2";
      font-size: 15px;
      font-weight: 300;
      color: white; }
      .setBGOverlay .innerBox .staticColor:focus {
        border-color: #00FF88; }

.importexportOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(42, 42, 42, 0.9);
  z-index: 9999;
  display: none;
  opacity: 0; }
  .importexportOverlay .innerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 530px;
    height: 500px; }
    .importexportOverlay .innerBox #exitOverlay {
      font-size: 24px;
      color: white;
      position: absolute;
      top: -60px;
      right: -60px;
      cursor: pointer; }
      .importexportOverlay .innerBox #exitOverlay:hover {
        color: #00FF88; }
    .importexportOverlay .innerBox h1 {
      position: absolute;
      top: -60px;
      left: 20px;
      font-family: "Exo 2";
      font-size: 25px;
      font-weight: 300;
      color: white; }
    .importexportOverlay .innerBox .error {
      position: absolute;
      top: 100px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      white-space: nowrap;
      font-family: "Exo 2";
      font-size: 20px;
      font-weight: 300;
      color: white; }
      .importexportOverlay .innerBox .error span {
        color: #DB2B39; }
    .importexportOverlay .innerBox .exportTimetableBTN {
      position: absolute;
      top: 0;
      left: 20px;
      width: 220px;
      height: 50px;
      border: 1px solid white;
      white-space: nowrap;
      text-align: center;
      cursor: pointer; }
      .importexportOverlay .innerBox .exportTimetableBTN:hover {
        border-color: #00FF88; }
        .importexportOverlay .innerBox .exportTimetableBTN:hover h1 {
          color: #00FF88; }
      .importexportOverlay .innerBox .exportTimetableBTN h1 {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: "Exo 2";
        font-size: 18px;
        font-weight: 300;
        color: white; }
    .importexportOverlay .innerBox .importTimetableBTN {
      position: absolute;
      top: 0;
      right: 20px;
      width: 220px;
      height: 50px;
      border: 1px solid white;
      white-space: nowrap;
      text-align: center;
      cursor: pointer; }
      .importexportOverlay .innerBox .importTimetableBTN:hover {
        border-color: #00FF88; }
        .importexportOverlay .innerBox .importTimetableBTN:hover h1 {
          color: #00FF88; }
      .importexportOverlay .innerBox .importTimetableBTN h1 {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: "Exo 2";
        font-size: 18px;
        font-weight: 300;
        color: white; }
